* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ebebeb;
}

/* CLASES NAV  */

.nav-container{
  display: flex;
  justify-content: center;

}
.main-nav {
  margin-top: 10px;
  list-style: none; /*Elimina los puntos de la lista*/
  padding-left: 0px;
  width: 90%;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  text-decoration: none;
}

/*Pseudo elemento = Modifica el elemento 
accedes a el con ::
*/
.main-nav__item--separator::after {
  content: "|";
  color: #000000;
  font-size: 35px;
}

/*Pseudo Clases = Modifica un estado del elemento 
accedes a el con :
*/

.main-nav__item--separator:hover {
  background: rgb(150, 150, 46);
}


/* CLASES MAIN */


.banner-component {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* centran el contenido*/
}

.banner-container {
  background-color: rgb(232, 111, 67);
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}

.banner-container__text {
  color: #fff;
  padding: 5px;
}

.banner-container__title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.banner-container__description
{
  max-width:700px;
  margin-bottom: 10px;
}