* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #ebebeb;
}

/* CLASES NAV  */

.nav-container {
  display: flex;
  justify-content: center;
}
.main-nav {
  margin-top: 10px;
  list-style: none; /*Elimina los puntos de la lista*/
  padding-left: 0px;
  width: 90%;
}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  text-decoration: none;
}

/*Pseudo elemento = Modifica el elemento 
accedes a el con ::
*/
.main-nav__item--separator::after {
  content: "|";
  color: #000000;
  font-size: 35px;
}

/*Pseudo Clases = Modifica un estado del elemento 
accedes a el con :
*/

.main-nav__item--separator:hover {
  background: rgb(150, 150, 46);
}

/* CLASES MAIN */

.banner__component {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* centran el contenido*/
}

.banner__container {
  background-color: rgb(232, 111, 67);
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.banner__text {
  color: #fff;
  padding: 5px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10px;
}

.banner__description {
  max-width: 700px;
  margin-bottom: 10px;
}

.info__article {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.info__container {
  width: 90%;
  padding: 10px;
}

.info__container--color {
  background-color: #fafafafa;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.info__title {
  text-align: center;
}

.info__list {
  margin-top: 15px;
  text-align: center;
  list-style: none;
}

.info__list-item img {
  vertical-align: middle;
}
